body {
  margin: 0;
  font-family: "Roboto Light", Arial, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,107,121,0.7394607501203607) 35%, rgba(0,212,255,1) 100%);
}